/* 759FBC

0E1C36

EFDCBE

DFA5BF

925E78


font-family: 'Amatic SC', cursive;
font-family: 'Raleway', sans-serif; */
html {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h3 {
  font-family: "Amatic SC", cursive;
  margin: 0px;
}

body {
  margin: 0px;
  /* display: grid;
  grid-template-columns: 5%, 30%, 15%, 15%, 30%, 5%;
  grid-template-rows: 5%, 100px, auto, 10%, 20px; */
  /* grid-template-areas: 
      "header header header header header header"
      ". picture picture intro1 intro1 ."
      ". column1 column2 column2 column3 ."
      ". finish finish finish picture ."
      ". footer footer footer footer ."; */
  /* column-gap: 10px;
  row-gap: 15px; */
  justify-items: center;
  /* align-items: top; */
}

header {
  /* display: grid;
  grid-column: 0 / span 2;
  grid-row: 1/2; */
  background-color: #0e1c36;
  color: #efdcbe;
  align-items: left;
  width: 100vw;
  padding: 20px;
}
.intro {
  display: grid;
  grid-row: 2;
  background-color: #f0e5d3;
}

.intro img {
  display: grid;
  grid-column: 3;
}

.intro p {
  display: grid;
  grid-column: 5/7;
  padding: 5px;
}

.allColumns {
  background-color: #759fbc;
  padding: 10px;
  /* margin: 10px; */
  display: grid;
  grid-row: 3/4;
  grid-column: span;
  column-gap: 10px;
  margin: 0px;
  align-items: flex-start;
}

.wayBack,
.facts,
.hobbies {
  display: grid;
  grid-row: 1;

  /* margin: 0, 5px, 0, 5px; */
}

/* .wayBack {
  grid-column: 1;
}

.facts {
  grid-column: 2;
}

.hobbies {
  grid-column: 3;
} */

.ending {
  display: block;
  text-align: center;
  background-color: #dfa5bf;
  padding: 10px;
  width: 100vw;
  margin: 0px;
}

footer {
  text-align: center;
  background-color: #f0e5d3;
  padding: 10px;
}
